<!DOCTYPE html>
<html class="no-js ss-preload" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Uma Mahesh</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="static/css/vendor.css">
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- # preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>


    <!-- # page wrap
    ================================================== -->
    <div class="s-pagewrap">

        <div class="circles">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>


        <!-- ## site header 
        ================================================== -->
        <header class="s-header">

            <div class="header-mobile">
                <span class="mobile-home-link"><a href="#">Uma Mahesh.</a></span>
                <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
            </div>

            <div class="row wide main-nav-wrap">
                <nav class="column lg-12 main-nav">
                    <ul>
                        <li><a href="#" class="home-link">Home.</a></li>
                        <li class="current"><a href="#intro" class="smoothscroll">Intro</a></li>
                        <li><a href="#about" class="smoothscroll">About</a></li>
                        <li><a href="#works" class="smoothscroll">Works</a></li>
                        <li><a href="#contact" class="smoothscroll">Say Hello</a></li>
                    </ul>
                </nav>
            </div>

        </header> <!-- end s-header -->


        <!-- ## main content
        ==================================================- -->
        <main class="s-content">


            <!-- ### intro
            ================================================== -->
            <section id="intro" class="s-intro target-section">

                <div class="row intro-content wide">

                    <div class="column">
                        <div class="text-pretitle with-line">
                            Hello
                        </div>

                        <h1 class="text-huge-title">
                            I am Uma Mahesh, <br>
                            a digital designer <br>
                            & frontend <br> 
                            developer based <br>
                            in Somewhere.
                        </h1>
                    </div>

                    <ul class="intro-social">
                        <li><a href="#0">Instagram</a></li>
                    </ul>

                </div> <!-- end intro content -->

                <a href="#about" class="intro-scrolldown smoothscroll">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z"/></svg>
                </a>

            </section> <!-- end s-intro -->


            <!-- ### about
            ================================================== -->
            <section id="about" class="s-about target-section">


                <div class="row about-info wide" data-animate-block>

                    <div class="column lg-6 md-12 about-info__pic-block">
                        <img src="static/images/about-photo.jpg" 
                             srcset="static/images/about-photo.jpg 1x, static/images/about-photo.jpg" alt="" class="about-info__pic" data-animate-el>
                    </div>

                    <div class="column lg-6 md-12">
                        <div class="about-info__text" >

                            <h2 class="text-pretitle with-line" data-animate-el>
                                About
                            </h2>
                            <p class="attention-getter" data-animate-el>
I am currently pursuing my final year of BSC(MSCs) 
and have a strong interest in becoming a frontend developer.
My passion for technology drives 
me to improve my skills in web development.
In my free time, I enjoy reading books, playing chess,
and solving mathematical problems, as they help enhance my logical thinking 
and problem-solving abilities.
My ultimate goal is to work as a software developer,
with a focus on frontend development, where I can build engaging 
and user-friendly web applications.
                            </p>
                            <a href="static/resume.docx" class="btn btn--medium u-fullwidth" download>Download CV</a>

                        </div>
                    </div>
                </div> <!-- about-info -->


                <div class="row about-expertise" data-animate-block>
                    <div class="column lg-12">

                        <h2 class="text-pretitle" data-animate-el>Expertise</h2>

                        <ul class="skills-list h1" data-animate-el>
                            <li>Visual Design</li>
                            <li>Branding Identity</li>
                            <li>UI Design</li>
                            <li>Product Design</li>
                            <li>Prototyping</li>
                            <li>Illustration</li>
                        </ul>

                    </div>
                </div> <!-- end about-expertise -->


                <div class="row about-timelines" data-animate-block>

                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Education
                        </h2>

                        <div class="timeline" data-animate-el>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">KBN University</h3>
                                    <h5 class="timeline__meta">UG in BSC(MSCs)</h5>
                                    <p class="timeline__timeframe">MARCH 2025</p>
                                </div>
                                <div class="timeline__desc">
                                    <img src="static/images/kbn-photo.jpg"
                             srcset="static/images/kbn-photo.jpg 1x, static/images/kbn-photo.jpg" alt="" class="about-info__pic" data-animate-el>
                                </div>
                            </div>
    
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">snitch</h4>
                                    <h5 class="timeline__meta">Frontend Developer</h5>
                                    <p class="timeline__timeframe">February-2025</p>
                                </div>
                                <div class="timeline__desc">
                                    <img src="static/images/snitch-logo.webp"
                             srcset="static/images/snitch-logo.webp 1x, static/images/snitch-logo.webp" alt="" class="about-info__pic" data-animate-el>
                                </div>
                            </div>
    
                        </div> <!-- end timeline -->

                    </div> <!-- end column -->

                    <div class="column lg-6 tab-12">

                        <!--<h2 class="text-pretitle" data-animate-el>
                            Education
                        </h2>-->

                        <div class="timeline" data-animate-el>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">PB Siddhartha College</h3>
                                    <h5 class="timeline__meta">Intermediate in MPC</h5>
                                    <p class="timeline__timeframe"> APRIL 2022</p>
                                </div>
                                <div class="timeline__desc">
                                    <img src="static/images/siddhartha-photo.jpg"
                             srcset="static/images/siddhartha-photo.jpg 1x, static/images/siddhartha-photo.jpg" alt="" class="about-info__pic" data-animate-el>
                                </div>
                            </div>
    
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">JAI KISSAN SCHOOL</h4>
                                    <h5 class="timeline__meta">SSC</h5>
                                    <p class="timeline__timeframe">MARCH 2020</p>
                                </div>
                                <div class="timeline__desc">
                                    <img src="static/images/school-pic.jpg"
                             srcset="static/images/school-pic.jpg 1x, static/images/school-pic.jpg" alt="" class="about-info__pic" data-animate-el>

                                </div>
                            </div>
    
                        </div> <!-- end timeline -->
                        
                    </div> <!-- end column -->


                </div> <!-- end about-timelines -->

            </section> <!-- end s-about -->


            <!-- ### works
            ================================================== -->
            <section id="works" class="s-works target-section">


                <div class="row works-portfolio">

                    <div class="column lg-12" data-animate-block>

                        <h2 class="text-pretitle" data-animate-el>
                            Recent Works
                        </h2>
                        <p class="h1" data-animate-el>
                            Here are some of my favorite projects I have done lately. Feel free to check them out.
                        </p>
    
                        <ul class="folio-list row block-lg-one-half block-stack-on-1000">

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-01">
                                    <div class="folio-list__item-pic">
                                        <img src="static/images/portfolio/snitch-logo TASK.webp"
                                             srcset="static/images/portfolio/snitch-logo TASK.webp 1x, static/images/portfolio/snitch-logo TASK @2x.webp 2x"  alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Website
                                        </div>
                                        <div class="folio-list__item-title">
                                            snitch
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-02">
                                    <div class="folio-list__item-pic">
                                        <img src="static/images/portfolio/moviewebsite.jpg" 
                                             srcset="static/images/portfolio/moviewebsite.jpg 1x, static/images/portfolio/moviewebsite@2x.jpg 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            website
                                        </div>
                                        <div class="folio-list__item-title">
                                            movie world.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-03">
                                    <div class="folio-list__item-pic">
                                        <img src="static/images/portfolio/casio.jpg" 
                                             srcset="static/images/portfolio/casio.jpg 1x, static/images/portfolio/casio@2x.jpg 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            website
                                        </div>
                                        <div class="folio-list__item-title">
                                            casio.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-04">
                                    <div class="folio-list__item-pic">
                                        <img src="static/images/portfolio/skaterboy.jpeg"
                                             srcset="static/images/portfolio/skaterboy.jpeg 1x, static/images/portfolio/skaterboy@2x.jpeg 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Website
                                        </div>
                                        <div class="folio-list__item-title">
                                            Since Day One.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-05">
                                    <!--<div class="folio-list__item-pic">
                                        <img src="static/images/portfolio/sanddunes.jpg" 
                                             srcset="static/images/portfolio/sanddunes.jpg 1x, static/images/portfolio/sanddunes@2x.jpg 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Illustration
                                        </div>
                                       <div class="folio-list__item-title">
                                            Sand Dunes.
                                        </div>
                                    </div>-->
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-06">
                                    <!--<div class="folio-list__item-pic">
                                        <img src="static/images/portfolio/minimalismo.jpg" 
                                             srcset="static/images/portfolio/minimalismo.jpg 1x, static/images/portfolio/minimalismo@2x.jpg 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Branding
                                        </div>
                                        <div class="folio-list__item-title">
                                            Minimalismo.
                                        </div>
                                    </div>-->
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                        </ul> <!-- end folio-list -->

                    </div> <!-- end column -->


                    <!-- Modal Templates Popup
                    -------------------------------------------- -->
                    <div id="modal-01" hidden>
                        <div class="modal-popup">
                            <img src="static/images/portfolio/gallery/g-fuji.jpg" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>snitch</h5>
                                <p>Snitch is a stylish and user-friendly e-commerce platform developed by our team, offering a wide variety of premium men's wear for every occasion. Whether you're looking for casual wear, formal attire, or accessories, Snitch provides a seamless shopping experience with an extensive collection of top-quality clothing and fashion items.</p>
                                <ul class="modal-popup__cat">
                                    <li>Branding</li>
                                    <li>Product Design</li>
                                </ul>
                            </div>
                
                            <a href="https://www.behance.net/" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-02" hidden>
                        <div class="modal-popup">
                            <img src="static/images/portfolio/gallery/moviewebsite.jpg" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>movieworld</h5>
                                <p>our website is an online platform that offers a vast collection of movies, TV shows, and documentaries across various genres. Whether you’re a fan of action, drama, comedy, or horror, MovieHub provides an easy-to-use interface to search for and stream your favorite films.</p>
                                <ul class="modal-popup__cat">
                                    <li>website</li>
                                </ul>
                            </div>
                
                            <a href="https://www.behance.net/" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-03" hidden>
                        <div class="modal-popup">
                            <img src="static/images/portfolio/gallery/casio.jpg" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>callculater</h5>
                                <p>our Calculator is a digital tool or application that allows users to perform mathematical calculations. It can handle basic arithmetic operations such as addition, subtraction, multiplication, and division, as well as more advanced functions like square roots, exponents, and trigonometric calculation.</p>
                                <ul class="modal-popup__cat">
                                    <li>website</li>
                                </ul>
                            </div>
                
                            <a href="https://www.behance.net/" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-04" hidden>
                        <div class="modal-popup">
                            <img src="static/images/portfolio/gallery/g-skaterboy.jpeg" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Since Day One</h5>
                                <p>Our team has developed a dynamic web application using Flask, a lightweight and powerful Python web framework. The project focuses on creating an intuitive, user-friendly platform that allows users to perform [describe the key functions of your app, e.g., "track tasks," "view movie details," "manage portfolios," etc.].</p>
                                <ul class="modal-popup__cat">
                                    <li>Website</li>
                                </ul>
                            </div>
                
                            <a href="https://www.behance.net/" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-05" hidden>
                        <div class="modal-popup">

                            <img src="static/images/portfolio/gallery/g-sanddunes.jpg" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Sand Dunes</h5>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                <ul class="modal-popup__cat">
                                    <li>Illustration</li>
                                </ul>
                            </div>
                
                            <a href="https://www.behance.net/" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-06" hidden>
                        <div class="modal-popup">
                            <img src="static/images/portfolio/gallery/g-minimalismo.jpg" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Minimalismo</h5>
                                <p>Quisquam vel libero consequuntur autem voluptas. Qui aut vero. Omnis fugit mollitia cupiditate voluptas. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                                <ul class="modal-popup__cat">
                                    <li>Branding</li>
                                    <li>Product Design</li>
                                </ul>
                            </div>
                
                            <a href="https://www.behance.net/" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                </div> <!-- end works-portfolio -->


                <div class="row testimonials">
                    <div class="column lg-12" data-animate-block>
        
                        <div class="swiper-container testimonial-slider" data-animate-el>
        
                            <div class="swiper-wrapper">

                                <div class="testimonial-slider__slide swiper-slide">
                                    <div class="testimonial-slider__author">
                                        <img src="static/images/avatars/user-02.jpg" alt="Author image" class="testimonial-slider__avatar">
                                        <cite class="testimonial-slider__cite">
                                            <strong>vinodh jajula</strong>
                                            <span>frontend developer, snitch</span>
                                        </cite>
                                    </div>
                                    <p>
                                        he is a Full-Stack developer based in Vijayawada, India.
                                        and also a very passionate about improving his coding skills & developing applications & websites.
                                        he build WebApps and Websites using html.
                                    </p>
                                </div> <!-- end testimonial-slider__slide -->
                
                                <div class="testimonial-slider__slide swiper-slide">
                                    <div class="testimonial-slider__author">
                                        <img src="static/images/avatars/user-03.jpg" alt="Author image" class="testimonial-slider__avatar">
                                        <cite class="testimonial-slider__cite">
                                            <strong>Narendra Perabattula </strong>
                                            <span>Backend developer, movie website</span>
                                        </cite>
                                    </div>
                                    <p>
                                        He is  a passionate learner who's always willing to learn and work across technologies and domains.
                                        he is a self taught programmer and aim to improve his skills everyday.
                                    </p>
                                </div> <!-- end testimonial-slider__slide -->
                
                                <div class="testimonial-slider__slide swiper-slide">
                                    <div class="testimonial-slider__author">
                                        <img src="static/images/avatars/user-01.jpg" alt="Author image" class="testimonial-slider__avatar">
                                        <cite class="testimonial-slider__cite">
                                            <strong>Narasimha</strong>
                                            <span>frontend developer,casio</span>
                                        </cite>
                                    </div>
                                    <p>
                                        he is a Full-Stack developer based in Vijayawada, India.
                                        and also a very passionate about improving my coding skills & developing applications & websites.
                                        he build WebApps and Websites using html.
                                    </p>
                                </div> <!-- end testimonial-slider__slide -->
        
                                <div class="testimonial-slider__slide swiper-slide">
                                    <div class="testimonial-slider__author">
                                        <img src="static/images/avatars/user-06.jpg" alt="Author image" class="testimonial-slider__avatar">
                                        <cite class="testimonial-slider__cite">
                                            <strong>shaik khaja</strong>
                                            <span>frontend developer,E-commerce website</span>
                                        </cite>
                                    </div>
                                    <p>
                                        He is  a passionate learner who's always willing to learn and work across technologies and domains.
                                        he is a self taught programmer and aim to improve his skills everyday.
                                    </p>
                                </div> <!-- end testimonial-slider__slide -->
            
                            </div> <!-- end swiper-wrapper -->
        
                            <div class="swiper-pagination"></div>
        
                        </div> <!-- end swiper-container -->
        
                    </div> <!-- end column -->
                </div> <!-- end row testimonials -->

            </section> <!-- end s-works -->


            <!-- ### contact
            ================================================== -->
            <section id="contact" class="s-contact target-section">

                <div class="row contact-top">
                    <div class="column lg-12">
                        <h2 class="text-pretitle">
                            Get In Touch
                        </h2>

                        <p class="h1">
                            I love to hear from you.
                            Whether you have a question or just 
                            want to chat about design, tech & art — shoot me a message.
                        </p>
                    </div>
                </div> <!-- end contact-top -->

                <div class="row contact-bottom">
                    <div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
                        <h3 class="text-pretitle">Reach me at</h3>
                        <p class="contact-links">
                            <a href="mailto:umam85894@gmail.com" class="mailtoui">umam85894@gmail.com</a> <br>
                            <a href="tel:+917032434117">+91 70324 34117</a>
                        </p>
                    </div>
                    <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
                        <h3 class="text-pretitle">Social</h3>
                        <ul class="contact-social">
                            <li><a href="https://www.instagram.com/uma____143?igsh=MTR3NzRrdmFkNzlnMA==">Instagram</a></li>
                            <li><a href="https://github.com/umadharmavarpu">Github</a></li>
                            <li><a href="https://www.linkedin.com/in/dharmavarapu-uma-maheswararao-6853562b0/">linkedin</a></li>
                            <li><a href="https://youtube.com/@uhesh8582?si=iuJLm4fn5LmG9OA2">youtube</a></li>
                        </ul>
                    </div>
                    <div class="column lg-4 md-12 contact-block">
                        <a href="mailto:umam85894@gmail.com" class="mailtoui btn btn--medium u-fullwidth contact-btn">Contact Me.</a>
                    </div>
                </div> <!-- end contact-bottom -->

            </section> <!-- end contact -->

        </main> <!-- end s-content -->


        <!-- ## footer
        ================================================== -->
        <footer class="s-footer">

            <div class="row">
                <div class="column ss-copyright">
                    <span>© Copyright Uma Mahesh 2025</span> 
                </div>

                <div class="ss-go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z"/></svg>
                    </a>
                </div>
            </div>

        </footer> <!-- end s-footer -->

    </div> <!-- end -s-pagewrap -->


    <!-- Java Script
    ================================================== -->
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>
</html>